// 颜色变量
$primary-color:         #409EFF;
$success-color:         #13CE66;
$warning-color:         #FFBA00;
$danger-color:          #FF4949;
$info-color:            #1E1E1E;

$title-color:           #17233D;
$content-color:         #515A6E;
$subsidiary-color:      #808695;
$disabled-color:        #C5C8CE;

$border-color:          #DCDEE2;
$divider-color:         #E8EAEC;
$background-color:      #F8F8F9;
$doc-background-color:  #F0F3F6;

// 基础变量
$font-family:             'Helvetica Neue','PingFang SC',STHeitiSC-Light,Helvetica,"Microsoft YaHei","微软雅黑";
$code-family:             -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Segoe UI Symbol;
$font-size-base:          10px;
$font-size-normal:        1.4rem;
$font-size-small:         1.2rem;
$font-size-large:         1.6rem;

// 阴影变量   
$shadow-color:          rgba(0, 0, 0, .1);
$shadow-up:               0 -0.1rem 0.6rem $shadow-color;
$shadow-down:             0 0.1rem 0.6rem $shadow-color;
$shadow-left:             -0.1rem 0 0.6rem $shadow-color;
$shadow-right:            0.1rem 0 0.6rem $shadow-color;
$shadow-card:             0 0.2rem 0.6rem 0 rgba(0, 0, 0, .2);

// 系统基础变量
$sidebar-width:               21.6rem;
$sidebar-collapse-width:      5.4rem;
$header-height:               6rem;
$tag-height:                  4.5rem;


:export {
  sidebarWidth: $sidebar-width;
  sidebarCollapseWidth: $sidebar-collapse-width;
  headerHeight: $header-height;
  theme: $primary-color;
}